@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <title>Prova de Desenvolvimento</title>
    </head>
    <body>
        
    </body>
</html>

<!--
<script>
    // Inserir usuário
    jQuery.ajax({
        url: '/UserViewModels/Create',
        type: 'POST',
        data: {
            Id: (Math.floor((Math.random() * 1000) + 1)).toString(),
            FirstName: 'Marcio',
            LastName: 'Laubstein',
            Email: 'marcio.laubstein@totvs.com.br',
            BirthDate: '07/09/1989',
            Password: '123@mudar',
            ConfirmPassword: '123@mudar'
        },
        success: function (result) {
            debugger
        },
        error: function () {
            debugger
        }
    });
    // Listar usuários
    jQuery.ajax({
        url: '/UserViewModels/List', 
        type: 'GET', 
        success: function (result) { 
            console.info(JSON.stringify(result)); 
        }, 
        error: function () { 
        } 
    });
</script>
-->